{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
    <title>Productivity Tracker</title>
</head>
<body>

    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Productivity Tracker</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="{% if request.path == '/' %}active{% endif %}"><a href="/">Dashboard</a></li>
                <li class="{% if request.path == '/focus_mode/' %}active{% endif %}"><a href="/focus_mode">Focus Mode Settings</a></li>
                <li class="{% if request.path == '/focus_mode/' %}active{% endif %}"><a href="/about">About</a></li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo">
        <li class="{% if request.path == '/' %}active{% endif %}"><a href="/">Dashboard</a></li>
        <li class="{% if request.path == '/focus_mode/' %}active{% endif %}"><a href="/focus_mode">Applications</a></li>
    </ul>
    
    {% block content %}
    {% endblock content %}

    <script src="{% static "js/materialize.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
</body>
</html>