{% extends "includes/base.html" %} {% block content %}

<div class="row">
  <div class="col s12 m12">
    <div class="card darken-1">
      <div class="card-content">
        <form action="" method="POST">
          {% csrf_token %}
          <span class="card-title"
            >Select Applications to be Restricted in Focus Mode :
            <button type="submit" class="right waves-effect waves-light btn">
              Apply Filters
            </button></span
          >
          <table class="responsive-table striped">
            <thead>
              <tr>
                <th></th>
                <th>Application Name</th>
              </tr>
            </thead>
            <tbody>
              {% for app in apps %}
              <tr>
                <th scope="row">
                  <p>
                    <label>
                      <input type="checkbox" name="filters" value="{{app}}" 
                      {% if app in selectedApp %} checked {% endif %} />
                      <span></span>
                    </label>
                  </p>
                </th>
                <td>{{app}} </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
